### Angular ###
## Angular ##
# compiled output
dist/
www/
tmp/
app/**/*.js
app/**/*.js.map

# dependencies
node_modules/
bower_components/

# IDEs and editors
.idea/

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/
.angular/
TESTS*.xml

# e2e
e2e/*.js
e2e/*.map
**/cypress/screenshots/
**/cypress/videos/

# System Files
.DS_Store/
# stryker temp files
.stryker-tmp
